#result {
  display: hide;
}
body {
  background-image: url(../img/terminator.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: auto;
  min-height: 700px;
}

#output {
  font-size: 30px;
  color: white;

}

h1 {
  text-align: center;

}

h3 {
  color: white;
    text-shadow: 2px 2px 4px;
}
